    <div class="wrapper">
      <header>
        <h1>Jacki Novik</h1>
        <p>
        Biostatistician at the <a href=http://www.hammerlab.org/>Hammer Lab</a>
        </p>

        <img src="{{ site.url }}/static/me.jpg" style="border:5px solid black">
        <br><br>
        <p>
	<a href="http://orcid.org"><img alt="" src="{{ site.url }}/static/orcid_16x16(1).gif" style="width: 16px; height: 16px; "></a>
	&nbsp;
	<a href="http://orcid.org/0000-0001-9588-4889">orcid.org/0000-0001-9588-4889</a>
        </p>
        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/jburos">
				<i class="fa fa-github"></i>
			</a>
      <!--
			<a class="btn btn-social-icon btn-reddit" href="http://stackoverflow.com/users/2848578/nicole-white">
				<img src="http://sstatic.net/stackoverflow/img/apple-touch-icon.png">
			</a>
      -->
      
			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/jackiburos">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/jacquelineburos">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:jackinovik@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
