    <div class="wrapper">
      <header>
        <h1>Jacki Novik</h1>
        <p>
        Data Scientist at Penguin Random House
        </p>

        <img src="{{ site.url }}/static/me.jpg" style="border:5px solid black">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/jburos">
				<i class="fa fa-github"></i>
			</a>
      <!--
			<a class="btn btn-social-icon btn-reddit" href="http://stackoverflow.com/users/2848578/nicole-white">
				<img src="http://sstatic.net/stackoverflow/img/apple-touch-icon.png">
			</a>
      -->
      
			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/jackiburos">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="www.linkedin.com/in/jacquelineburos">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:jackinovik@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
